*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem,0.8rem + 0.8vw,2rem);
}


body{
    overflow-x: hidden;
    background: url(images/wood.jpg);
}





/* error container styling */

.error{
    background-color: red;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: white;
    width: 100%;
    height: fit-content;
}

/* error container end */



/* form styling */

.form{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
}

form{
    padding: 20px;
    max-width: 600px;
    width: 80%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form h1{
    text-align: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

fieldset{
    padding: 20px;
}

#rating{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#rating input{
    height: 30px;
    max-width: 8ch;
}

label,.label{
    font-weight: bold;
}

textarea{
  height: 150px;  
  resize  : none;
  overflow: auto;
}


button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input:hover, input:focus, textarea:hover, textarea:focus{
    background-color: #eee;
}

fieldset:disabled{
    color: gray;
}

input:disabled, textarea:disabled{
    background-color: #eee;
}

.submit{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

button{
    all: unset;
    position: relative;
    padding: 16px 32px;
    transition: all 0.5s;
    border: 2px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    overflow: hidden;
}

button::before{
    content: "Add";
    position: relative;
    z-index: 2;
}

button::after{
    content: "";
    position: absolute;
    width: 140%;
    z-index: 1;
    transition: all 1s;
    height: 100%;
    background-color: black;
    left: -10px;
    bottom: -100%;
}

button:hover{
    color: white;
    cursor: pointer;
}

button:hover::after{
    bottom: 0%;
}
/* form end */



/* library */

.library{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

header{
    display: flex;
    padding: 20px;
    align-self: stretch;
    border-bottom: 0.8px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 20px 10px;
    background-color: white;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

header img{
    position: absolute;
    width: 150px;
    top: -20px;
    opacity: 0.2;
    right: 0;
}

header h1{
    position: relative;
    z-index: 1;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 80vw;
    gap: 20px;
}

.card{
    max-width: 500px;
    width: max(280px,40%);
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    display: flex;
    font-size: clamp(0.8rem,0.8rem + 0.5vw,1.2rem);
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
}

.card h2,.by{
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: min(1.2rem,1.5em);
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.rating-pages{
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
}

.rating-pages p:first-of-type{
    display: flex;
    align-items: center;
}

.reading-experience{
    line-height: 1.5;
    font-weight: normal;
    height: calc(1.5rem * 5 + 10px);
    overflow: hidden;
}

.icon-tick{
    background: url(images/greentick.avif);
}

.icon-cross{
    background: url(images/red-cross.jpg);
}

.icon{
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.read,.by{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.by{
    font-size: 0.8rem;
    
    border-bottom: 0px;
}

.grey{
    color: grey;
}

.centerText{
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}

.add-button{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: flex-end;
}

.add-button button{
    background-color: black;
    color: white;
}

.add-button button:hover{
    color: black;
}

.add-button button::after{
    background-color: white;
}
/* library end */